openapi: 3.0.1
info:
  title: "Ecosyste.ms: Diff"
  description: "An open API service to generate diffs between package releases for many open source software ecosystems."
  contact:
    name: Ecosyste.ms
    email: support@ecosyste.ms
    url: https://ecosyste.ms 
  version: 1.0.0
  license:
    name: CC-BY-SA-4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
externalDocs:
  description: GitHub Repository
  url: https://github.com/ecosyste-ms/diff
servers:
- url: https://diff.ecosyste.ms/api/v1
paths:
  /jobs:
    post:
      summary: submit a diff job
      operationId: createJob
      parameters:
        - name: url_1
          in: query
          description: first url of file or zip/tar archive
          required: true
          schema:
            type: string
        - name: url_2
          in: query
          description: second url of file or zip/tar archive
          required: true
          schema:
            type: string
      responses:
        301:
          description: Redirect
          headers:
            location:
              description: URL of submitted job
              schema:
                type: string
  /jobs/{jobID}:
    get:
      summary: fetch job by id
      operationId: getJob
      parameters:
        - in: path
          name: jobID
          schema:
            type: string
          required: true
          description: id of job
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
components:
  schemas:
    Job:
      type: object
      properties:
        url_1:
          type: string
        url_2:
          type: string
        status:
          type: string
        results:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        sidekiq_id:
          type: string
        sha256_1:
          type: string
        sha256_2:
          type: string